# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.pytest_cache/
.env

# Gradle / Java
.gradle/
build/
*.class
*.log

# Database
*.db
*.sqlite3
factory_history.db

# OS / IDE
.idea/
.vscode/
.DS_Store

# Scratch and Node
node_modules/
scratch/
*.db-shm
*.db-wal
components_to_implement/
#.physical_engine/